<html lang="en">
<head>
    <title>PPusher</title>
    <meta charset="UTF-8">

    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>

    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/orders.css">
    <link rel="stylesheet" href="/css/master.css">
</head>
<body classname="snippet-body" id="body-pd">
    <header class="header bg-grey" id="header">
        <div class="header_toggle d-flex"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        <input id="searchbar" type="text" class="" placeholder="Search">
    </header>
    <div class="l-navbar" id="nav-bar">
      <nav class="nav">
        <div> <a href="#" class="nav_logo">  <span class="nav_logo-name">
              <h2>PPusher</h2>
              <br>
              <h4> <%= locals.username || "username" %> </h4>
            </span> </a>
          <div class="nav_list"> <a href="/home" class="nav_link"> <i class='bx bx-grid-alt nav_icon'></i> <span
                class="nav_name">Dashboard</span> </a> <a href="/home/orders" class="nav_link active"> <i class='bx bx-candles nav_icon'></i>
              <span class="nav_name">Orders</span> </a> <a href="#" class="nav_link"> <i
                class='bx bx-history nav_icon'></i> <span class="nav_name">History</span> </a> <a href="#"
              class="nav_link">
          </div>
        </div>
        <a href="#" class="nav_link" id=""> <i class='bx bx-cog settings_icon'></i> <span class="nav_name">Settings</span>
        </a>
        <a href="/account/login" class="nav_link" id=""> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">Sign Out</span>
        </a>
      </nav>
    </div>

      <!-- CONTAINER MAIN START -->
      <div id="topcol" class="d-flex justify-content-between align-middle mx-2 pt-3 border-bottom border-secondary">
        <h2>My Portfolio:</h2>
        <div class="d-block">
            <p>Available:</p>
            <h5> <%= locals.available %> </h5>
        </div>
        <div class="d-block">
          <p>Allocated:</p>
          <h5> <%= locals.allocated %> </h5>
        </div>
        <div class="d-block">
          <p>Profit/Loss:</p>
          <h5 class= <%= locals.totalplcolor %> > <%= locals.totalpl %>  </h5>
        </div>
        <div class="d-block">
          <p>Total Equity:</p>
          <h5> <%= locals.equity %></h5>
        </div>
      </div>
      <div id="topcol" class="row align-middle mx-2 pt-2 border-bottom border-secondary">
        <div class="col-md-2">
          <h5>Asset/s</h5>
        </div>
        <div class="col-md">
          <h5>Units</h5>
        </div>
        <div class="col-md">
          <h5>Avg. open</h5>
        </div>
        <div class="col-md">
          <h5>Invested</h5>
        </div>
        <div class="col-md">
          <h5>P/L(%)</h5>
        </div>
        <div class="col-md">
          <h5>P/L($)</h5>
        </div>
        <div class="col-md">
          <h5>Value</h5>
        </div>
        <div class="col-md"></div>
      </div>

      <% locals.orders.forEach((order) => { %>
        <div class="row mx-2 pt-2 border-bottom border-secondary">
          <div class="col-md-2 d-flex">
            <div class="d-inline">
              <img src="/Resources/placeholder.png" alt="symbol" class="rounded-circle ticker-symbol">
            </div>
            <div class="d-inline" style="padding-left: 20px;">
              <h5> <%= order.Ticker.toUpperCase() %> </h5>
              <h5><%= order.displayName %></h5>
            </div>
          </div>
          <div class="col-md">
            <h5> <%= order.units %> </h5>
            <p class="text-secondary"> <%= order.Type == 'buy' ? "Buying" : "Selling" %> </p>
          </div>
          <div class="col-md">
            <h5> <%= order.AvgOpen%> </h5>
          </div>
          <div class="col-md">
            <h5> <%= order.Invested %></h5>
          </div>
          <div class="col-md">
            <h5 class= <%= order.valuecolor %>> <%= order.percentage %> </h5>
          </div>
          <div class="col-md">
            <h5 class=<%= order.valuecolor %>> <%= order.numpl %> </h5>
          </div>
          <div class="col-md">
            <h5> <%= order.value %> </h5>
          </div>
          <div class="col-md">
            <button class="border border-danger text-danger close-button"><b>Close</b></button>
          </div>
        </div>
  
      <% }) %>

      <!-- CONTAINER MAIN END -->

      <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js'></script>
      <script src="/js/sidebar.js"></script>
      <script src="/js/home/orders.js"></script>
    
    
      <script type="text/javascript">
        var myLink = document.querySelector('a[href="#"]');
        myLink.addEventListener('click', function (e) {
          e.preventDefault();
        });
      </script>
</body>
</html>